version: '3.8'

name: ibeusan20_docker_compose

services:

  tvrtka:
    build:
      context: ./ibeusan20_vjezba_07_dz_2_tvrtka
      dockerfile: Dockerfile
    container_name: tvrtka_ibeusan20
#    networks:
#      - mreza_ibeusan20
    networks:
      mreza_ibeusan20:
         ipv4_address: 20.24.5.2
    volumes:
      - svezak_ibeusan20:/usr/app/podaci
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"

  partner:
    build:
      context: ./ibeusan20_vjezba_07_dz_2_partner
      dockerfile: Dockerfile
    container_name: partner_ibeusan20
#    networks:
#      - mreza_ibeusan20
    networks:
      mreza_ibeusan20:
         ipv4_address: 20.24.5.3
    volumes:
      - svezak_ibeusan20:/usr/app/podaci
    ports:
      - "8010:8010"
      - "8011:8011"
    depends_on:
      - tvrtka

  servisi:
    build:
      context: ./ibeusan20_vjezba_07_dz_2_servisi
      dockerfile: Dockerfile
    container_name: servis_ibeusan20
#    networks:
#      - mreza_ibeusan20
    networks:
      mreza_ibeusan20:
         ipv4_address: 20.24.5.20
    ports:
      - "8080:8080"
    depends_on:
      - tvrtka
      - partner
      
#  h2:
#    build:
#      context: .
#      dockerfile: Dockerfile.h2
#    container_name: h2_baza
#    networks:
#      - mreza_ibeusan20
#    volumes:
#      - svezak_ibeusan20:/opt/database
#    ports:
#      - "9092:9092"
#
#  hsqldb:
#    build:
#      context: .
#      dockerfile: Dockerfile.hsql
#    container_name: hsqldb_baza
#    networks:
#      - mreza_ibeusan20
#    volumes:
#      - svezak_ibeusan20:/opt/data
#    ports:
#      - "9001:9001"

networks:
  mreza_ibeusan20:
    external: true

volumes:
  svezak_ibeusan20:
    external: true
